/* FB-STYLE WRITING ANIMATION */
._5pd7 {
    animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

._5pd7:last-of-type {
    margin-right: 0;
}

._5pd7 {
    background-color: white;
}
@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
    }

    28% {
        transform: translateY(-5px);
    }

    44% {
        transform: translateY(0px);
    }
}

._5pd7:nth-child(1) {
    animation-delay: 200ms;
}

._5pd7:nth-child(2) {
    animation-delay: 300ms;
}

._5pd7:nth-child(3) {
    animation-delay: 400ms;
}

body {
    background: black;
}

._5x7x ._5pd7:last-of-type {
    margin-right: 0;
}

._5pd7:nth-child(3) {
    animation-delay: 400ms;
}

._4a0x ._5pd7 {
    background-color: #9197a3;
}

._5pd7 {
    animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

user agent stylesheetdiv {
    display: block;
}

Inherited from div._5w1r._5wdf._3_om ._5w1r {
    background-size: 100% 100% \0/;
    border: 1px solid #dcdee3;
    border: 1px solid rgba(0, 0, 0, .18);
    border-bottom-color: rgba(0, 0, 0, .29);
    border-radius: 4px;
    box-shadow: 0 1px 0 #dce0e6;
    color: #373e4d;
    min-height: 22px;
    min-width: 14px;
    overflow: hidden;
    position: relative;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    white-space: pre-wrap;
}

Inherited from div._5wd4._1nc7._2cnu ._5wd4 {
    line-height: 1.28;
    margin: 0 4px;
    overflow: hidden;
    padding: 5px 0;
    text-align: left;
}

._5p3y[dir="ltr"] .fbChatSidebar,
._5p3y[dir="ltr"] .fbDock,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6,
._5p3y[dir="ltr"] .uiButton input,
._5p3y[dir="ltr"] .uiButtonText,
._5p3y[dir="ltr"] .uiLinkButton input,
._5p3y[dir="ltr"] .uiMentionsInput .highlighter,
._5p3y[dir="ltr"] .uiTooltipX .tooltipContent,
._5p3y[dir="ltr"] a[role="button"],
._5p3y[dir="ltr"] button,
._5p3y[dir="ltr"] button.as_link,
._5p3y[dir="ltr"] input,
._5p3y[dir="ltr"] label,
._5p3y[dir="ltr"] select,
._5p3y[dir="ltr"] td,
._5p3y[dir="ltr"] textarea,
._5p3y[dir="rtl"] *[dir="ltr"],
Inherited from td._51m-.vBot._51mw ._5p3y[dir="ltr"] {
    font-family: helvetica, arial, sans-serif;
}

._5p3y,
._5p3y .uiButton input,
._5p3y .uiButtonText,
._5p3y .uiLinkButton input,
._5p3y .uiMentionsInput .highlighter,
._5p3y button,
._5p3y button.as_link,
._5p3y input,
._5p3y label,
._5p3y select,
._5p3y td,
._5p3y textarea {
    font-size: 12px;
}

td,
td.label {
    text-align: left;
}

body,
button,
input,
label,
select,
td,
textarea {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

Inherited from table.uiGrid._51mz.conversationContainer._4vou ._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

user agent stylesheettable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

Inherited from div#u_0_1y.fbNubGroup.clearfix.videoCallEnabled .clearfix {
    zoom: 1;
}

Inherited from div.fbNubGroup.clearfix._56oy._20fw .clearfix {
    zoom: 1;
}

Inherited from div.clearfix.nubContainer.rNubContainer .clearfix {
    zoom: 1;
}

._5p3y[dir="ltr"] .fbChatSidebar,
._5p3y[dir="ltr"] .fbDock,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6,
._5p3y[dir="ltr"] .uiButton input,
._5p3y[dir="ltr"] .uiButtonText,
._5p3y[dir="ltr"] .uiLinkButton input,
._5p3y[dir="ltr"] .uiMentionsInput .highlighter,
._5p3y[dir="ltr"] .uiTooltipX .tooltipContent,
._5p3y[dir="ltr"] a[role="button"],
._5p3y[dir="ltr"] button,
._5p3y[dir="ltr"] button.as_link,
._5p3y[dir="ltr"] input,
._5p3y[dir="ltr"] label,
._5p3y[dir="ltr"] select,
._5p3y[dir="ltr"] td,
._5p3y[dir="ltr"] textarea,
._5p3y[dir="rtl"] *[dir="ltr"],
Inherited from div.fbDock.clearfix ._5p3y[dir="ltr"] {
    font-family: helvetica, arial, sans-serif;
}

._5p3y .fbChatSidebar,
._5p3y .fbDock,
._5p3y .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage,
._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5,
._5p3y .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6,
._5p3y .uiTooltipX .tooltipContent {
    font-size: 12px;
    line-height: 16px;
}

.clearfix {
    zoom: 1;
}

Inherited from div#u_0_1p._48gf.fbDockWrapper.fbDockWrapperRight._5q5b ._48gf {
    bottom: 0;
    direction: ltr;
    height: 25px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 300;
}

._5p3y[dir="ltr"] .fbChatSidebar,
._5p3y[dir="ltr"] .fbDock,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6,
._5p3y[dir="ltr"] .uiButton input,
._5p3y[dir="ltr"] .uiButtonText,
._5p3y[dir="ltr"] .uiLinkButton input,
._5p3y[dir="ltr"] .uiMentionsInput .highlighter,
._5p3y[dir="ltr"] .uiTooltipX .tooltipContent,
._5p3y[dir="ltr"] a[role="button"],
._5p3y[dir="ltr"] button,
._5p3y[dir="ltr"] button.as_link,
._5p3y[dir="ltr"] input,
._5p3y[dir="ltr"] label,
._5p3y[dir="ltr"] select,
._5p3y[dir="ltr"] td,
._5p3y[dir="ltr"] textarea,
._5p3y[dir="rtl"] *[dir="ltr"],
Inherited from body.hasLeftCol.home.composerExpanded._5vb_.fbx._5p3y.chrome.webkit.win.x1.Locale_en_US ._5p3y[dir="ltr"] {
    font-family: helvetica, arial, sans-serif;
}

._5vb_,
._5vb_ #contentCol {
    background-color: #e9eaed;
    color: #141823;
}

._5p3y {
    line-height: 1.34;
}

._5p3y,
._5p3y .uiButton input,
._5p3y .uiButtonText,
._5p3y .uiLinkButton input,
._5p3y .uiMentionsInput .highlighter,
._5p3y button,
._5p3y button.as_link,
._5p3y input,
._5p3y label,
._5p3y select,
._5p3y td,
._5p3y textarea {
    font-size: 12px;
}

body,
button,
input,
label,
select,
td,
textarea {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

body {
    background: #fff;
    color: #141823;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    direction: ltr;
    unicode-bidi: embed;
}
