.message {
  padding-right:15px;
  padding-left: 15px;
  /*padding-top: .1rem;
  padding-bottom: .1rem;*/


    &__from-user {
      background: #99BDD7;
      text-align: right;
      font-size: 1.7vmax;
      right: 0;
      left: auto;
      position: relative;
      padding: 5px;
      border-radius: 12px;
      word-wrap: break-word;
      float: right;
      display:inline-block;
    }
    &__from-penni {
      background: #DDCED8;
      text-align: left;
      font-size: 1.7vmax;
      left: 0;
      right: auto;
      position: relative;
      padding: 5px;
      border-radius: 12px;
      word-wrap: break-word;
      float: left;
      display:inline-block;
    }
}

.message__from-user:after
{
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 5px 0 5px 18px;
    border-color: transparent #99BDD7;
    width: 0;
    z-index: -1;
    right: -10px;
    top: 76%;
    margin-top: -5px;
    display: inline-block;


}
.message__from-penni:after
{
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 5px 18px 5px 0;
    border-color: transparent #DDCED8;
    width: 0;
    z-index: -1;
    left: -10px;
    top: 76%;
    margin-top: -5px;
    display: inline-block;

}
.space{
  width:100%;
  display: inline-block;
}
