.message {
    font-size: 1.2rem;
    margin: 1rem;
    position: relative;
    width: 315px;
    height: auto;;
    padding: 0px;
    background: #C4921B;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;


}

.message:after
{
    content: '';

    border-style: solid;
    border-width: 13px 0 13px 28px;
    border-color: transparent #C4921B;
    display: block;
    width: 0;
    z-index: 1;
    right: -28px;
    top: 68px;
}
