.admin {
  margin: 0 auto;
  max-width: 40%;
  min-width: 250px;
  border-radius: 3px;
  display: flex;
  p {
    background-color: #D4FFD4;
    padding: 2rem;
  }
  .emergency {
    background-color: #FFD4D4;
  }
}

h1.title {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
  color: #808080;
}
