.home-page {
  max-width: 50%;
  min-width: 300px;
  margin: 0 auto;
  height: 100vh;

  .scrolling-chat {
    margin: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 4rem);
  }
  .input-wrapper{
      position: relative;
      background-color: blue;
      height: auto;
  }

  .input-test{
      position: absolute;
      bottom: 5px;
      background-color: green
  }
  .input {
    display: block;
    width: 100%;
    border-bottom: 0.0625rem solid #aeaeae;
    form {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      background: transparent;
      font-size: 1rem;
      color: #323232;
      max-width: 100%;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      input {
        border: none;
        outline: none;
        width: 100%;
      }
    }
  }
}
