.home-page {
  width: 50%;
  margin: 0 auto;
  height: 95vh;

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  .scrolling-chat {
    margin: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 4rem);
  }
  .input-wrapper{
      position: relative;
      background-color: blue;
      height: auto;
  }

  .input-test{
      position: absolute;
      bottom: 5px;
      background-color: green
  }
  .submits {
    display: flex;
    align-items: center;
    .input {
      display: block;
      width: 100%;
      border-bottom: 0.0625rem solid #aeaeae;
      form {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 4vmin;
        color: #323232;
        max-width: 100%;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        input {
          border: none;
          background: transparent;
          outline: none;
          width: 100%;
        }
      }
    }
    .microphone {
      input {
        outline: none;
        background-color: transparent; /* make the button transparent */
        background-repeat: no-repeat;  /* make the background image appear only once */
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: none;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 50px;           /* make this the size of your image */
        padding-left: 50px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
      }
      .microphone-on {
        background-image: url(/static/microphone-on.svg); /* 16px x 16px */
      }
      .microphone-off {
        background-image: url(/static/microphone-off.svg); /* 16px x 16px */
      }
    }
  }

}
.canvas-basic {
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome-message {
  position: absolute;
  display: flex;
  max-width: 70%;
  top: 35%;
  bottom: 45%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 5vmin;
  color: #808080;
}
